html,
body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  overflow-y: scroll;
  color: var(--main-color);
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  line-height: 1.5;
  background-color: var(--background-color);
  inline-size: 1200px;
  block-size: 100%;
}

#modal-root {
  position: absolute;
}

button {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: pink;
  font-weight: 700;
}

p {
  margin: 0;
}

input,
textarea,
select {
  box-sizing: border-box;
  width: 100%;
  outline: none;
  font-family: inherit;
}

ul,
ol {
  margin: 0;
  padding: 0;
}
