html,
body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  overflow-y: scroll;
  color: var(--main-color);
  font-family: var(--main-ff);
  font-weight: 400;
  line-height: 1.5;
  background-color: var(--background-color);
}

#modal-root {
  position: absolute;
  width: 40%;
}

button {
  border: none;
  padding: 1em 2em;
  outline: none;
  font-family: var(--secondary-ff);
  font-weight: bold;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--accent-color);
  font-family: var(--secondary-ff);
  font-weight: 700;
}

p {
  margin: 0;
}

input,
textarea,
select {
  box-sizing: border-box;
  width: 100%;
  outline: none;
  font-family: inherit;
}

ul,
ol {
  margin: 0;
  padding: 0;
}
