:root {
  --color-green: #43bd49;

  --main-ff: 'Fira Sans Condensed', sans-serif;
  --secondary-ff: Orbitron, monospace;

  --main-color: #fff;
  --secondary-color: #000;
  --accent-color: var(--color-green);
  --color: #312f2f;

  --background-color: #1d1d1d;
  --modal-background: var(--color-green);
  --card-background: #5e5e5e;

  --box-shadow: 0 4px 12px rgba(255, 255, 255, 0.1);
  --border-radius: 12px;

  --success: rgb(72, 241, 72);
  --error: rgb(241, 72, 72);
  --warn: rgb(241, 148, 72);
}
