:root {
  --color-green-light: #a8dcab;
  --color-green: #519755;
  --color-pink: #dbaaa7;
  --color-lavender: #be91be;

  --main-color: rgb(22, 0, 0);
  --secondary-color: #fff2f2;
  --accent-color: var(--color-green);
  --background-color: #f1f8f1;
  --modal-background: var(--color-green);

  --box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  --success: rgb(149, 229, 162);
  --error: rgb(229, 149, 149);
  --warn: rgb(229, 204, 149);
}
